.speech {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.direction{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: beige;
}

.name {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.name:hover{
    text-shadow:2px 3px 5px rgb(10, 231, 65) ;
    border: 2px solid mediumslateblue;
}

.direction:hover{
    background-color: skyblue;
    color: orange;
}

.Elmire{
    color: red;
}

.Tartuffe{
    color: blue;
}

.table,th,td{
    border: 1px solid;
    text-align: center;
    color: rgb(74, 90, 100);
    padding: 30px;
    margin: 30px;
    
}

.tr:nth-child(even) {
    background-color: #fd7d7d;
    color: aquamarine;
  }

  ul.navbar-horizontal{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li{
    float:left; 
    color:#000;
    background-color:yellow;
}
ul.navbar-horizontal a {
    display:block;
    padding:8px;
}
ul.navbar-horizontal a:hover {  
    background-color: #555;
    color:white;
}
.icon{
    float:center;
}