.speech {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.direction{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: beige;
}

.name {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.direction:hover{
    background-color: skyblue;
    color: orange;
}

.Elmire{
    color: red;
}

.Tartuffe{
    color: blue;
}

.table,th,td{
    border: 1px solid;
    text-align: center;
    color: black;
    padding: 30px;
    margin: 30px;
    
}

.tr:nth-child(even) {
    background-color: #f2f2f2;
  }